@model IEnumerable<BookListMVC.Models.Book>
@{
    ViewData["Title"] = "Index";
}


<br/>
<h1>Lista de Livros</h1>

<hr />
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Criar Novo</a>
</p>

@if(Model.Count()>0)
{
    //Mostrar Todos os Livros
    <div class="border">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Author)</th>
                <th>@Html.DisplayNameFor(m => m.Price)</th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Author)
            </td>
            <td>
                @Html.DisplayFor(m => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Deletar</a>
            </td>
        </tr>
            }
        </table>
    </div>
}
else
{
    <div>Não Existem Livros ainda... Por favor, adicione um Novo Livro</div>
}